.contenedor-portada {
    position: relative;
    top: 0;
    left: 0;
}
.contenedor-portada.fondo {
    display: inline;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

.boton-imagen {
    position: absolute;
    z-index: 3;
    filter: drop-shadow(5px 5px 5px #2225);
}
.boton-imagen img {
    max-height: 4.5cqi;

} 

/*
clamp(3.3rem, 3rem + 1.5vw, 5rem);
*/

.boton {
    position: absolute;
    z-index: 3;
    padding: 0.7em;
    max-height: calc(1.75em + 0.8vmin);
    line-height: 0.9em;
    font-size: 1.8cqi;
    padding: 1%;
    border-radius: 5px;
    text-decoration: none;
    background-color: #005d6a;
    color: white;
    box-shadow: 5px 5px 10px #20202088;
}

.boton:hover {
    box-shadow: 5px 5px 10px #202020;
    background-color: #0a6e7b;
}

.crece {
    transition: all .2s ease-in-out;
}
.crece:hover {
      transform: scale(1.2);
    }